{{ block "landing" .}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Piirtul.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
</head>
<body>
    <div class="centerized">
        <div class="landing">
            <h1 class="header">Piirtul.io</h1>
        </div>

        <form class="room-form">
            <input type="text" id="name" name="name" placeholder="Enter your name">
            <div class="room-buttons">
                <button type="button" class="button" id="create-room-btn">Create Room</button>
                <button type="button" class="button" id="join-room-btn">Join Room</button>
            </div>
        </form>
    </div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/assets/landing.js"></script>
</body>
</html>
{{ end }}