{{ block "main" .}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Piirtul.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
</head>
<body>
    <button class="quit-button">Quit</button>
    <div class="room-status">
        <ul id="room-status"></ul>
    </div>
    <div class="container">
        <div class="user-list">
            <h3 id="room-id">RoomID: </h3>
            <h3>Users</h3>
            <ul id="user-list"></ul>
        </div>
        <div class="canvas-container">
            <canvas id="drawing-canvas"></canvas>
        </div>
        <div class="chat">
            <h3>Chat</h3>
            <div class="chat-messages" id="chat-messages"></div>
            <input type="text" id="chat-input" placeholder="Type a message">
            <button id="send-message" class="button">Send</button>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/assets/main.js"></script>
</body>
</html>
{{ end }}