.centerized {
    display: flex;
    flex-direction: column;  /* Aligns the content in a vertical column */
    align-items: center;     /* Centers items within the column */
}

/* The landing page logo */
.landing #logo-container {
    width: 700px;
    height: auto;
    margin-top: 50%;
    transition: margin-top 0.5s ease-in-out;
}

.landing #logo-container svg {
    width: 100%;
    height: auto;
}

.header {
    font-size: 6em;
}

p {
    color: white !important; /* Force white color on all <p> elements */
}

#connectedUserDisplay {
    color: white !important; /* Ensure the connected user display text is white */
}

#chatArea div {
    color: white !important; /* Ensure messages in the chat area are white */
}
/* The container containing the name input and room buttons. */
.room-form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#demo2-content {
    display: flex;
    flex-direction: column;            
    align-items: center;
}

.room-form, #demo2-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.room-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    padding: 20px;
}

.button {             
    width: 200px;    
    padding: 12px;
    border-radius: 8px;        /* Rounded corners */
    border: 2px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;            
    color: black;
    font-size: 16px;
}

input[type="text"] {
    width: 100%;              
    max-width: 300px;          
    padding: 12px;             
    border-radius: 8px;        
    border: 2px solid #ccc;    
    font-size: 16px;          
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;  
    color: black;
}

input[type="text"]:focus {
    border-color: #007BFF;  /* Highlight the input when focused */
}